<!DOCTYPE html>
<html>
<head>
    <title>Flask Auth Demo</title>
</head>
<body>
<nav>
    <a href="{{ url_for('main.home') }}">Home</a>

    {% if current_user.is_authenticated %}
        <span>Logged in as {{ current_user.username }}</span>
        <span>Log ID: {{ session.get('log_id') }}</span>
        <a href="{{ url_for('main.admin_dashboard') }}">Admin</a>
        <a href="{{ url_for('auth.logout') }}">Logout</a>
    {% else %}
        <a href="{{ url_for('auth.login') }}">Login</a>
        <a href="{{ url_for('auth.register') }}">Register</a>
    {% endif %}
</nav>
    <hr>
    {% block content %}{% endblock %}
</body>
</html>
